:root {
   --color-background-default: #222;
   --color-background-almost-default: #272727;
   --color-background-variation-1: #333;
   --color-background-variation-2: #555;
   --color-text-default: #ccc;
   --color-text-variation-1: #aaa;
   --color-text-variation-2: #888;
   --color-text-link: #9d6f53;
   --color-text-link-hover: #666;
   --color-border-default: #444;
   --color-border-variation-1: #666;
   --color-brown: #9d6f53;
}
.dark_img {
   background-color: #fff;
   padding: 10px;
   border: 1px solid var(--color-border-variation-1);
}
